<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div id="app">
			<img :src="imgUrl" >
			<button type="button" @click="test('你好')">点击</button>
		</div>
		<div id="demo">
			姓：<input type="text" v-model="firstName" >
			<br>
			名：<input type="text" v-model="lastName">
			<br>
			姓名：<input type="text" v-model="fullName1">
			<br>
			<input type="text" v-model="fullName">
	<!-- 		姓名2：<input type="text" v-model="fullName2">
			<br>
			双向：<input type="text" placeholder="test3" v-model="fullName3"> -->
		</div>
	</body>
	<script type="text/javascript">
		let app =new Vue({
			el:'#app',
			data:{
				imgUrl:'img/CSS精灵.png'
			},
			methods:{
				test(content){
					alert(content)
				}
			}
		})
		var app2=new Vue({
			el:'#demo',
			data:{
				firstName:'A',
				lastName:'B'
				// fullName:'A B'
			},
			computed:{
				fullName1:{
					get:function(){
						return this.firstName+' '+this.lastName
					},
					set:function(value){
						var names=value.split(' ')
						this.firstName=names[0]
						this.lastName=names[1]
					}
				}
			},
			// app2.$watch("firstName" ,function(value) {
			// 	this.fullName=value+' '+this.firstName
			// }),
			// app2.$watch("lastName" ,function(value) {
			// 	this.fullName=this.firstName+' '+value
			// })
			// watch:{
			// 	fullName:function(value){
			// 		var name=value.split('')
			// 		this.firstName=name[0]
			// 		this.fullName=name[1]
			// 	}
			// }
		})
	
	</script>
</html>
