<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div id="app">
			姓：<input type="text" v-model="firstName">
			名：<input type="text" v-model="lastName">
			姓名：<input type="text" v-model="fullName">
		</div>
	</body>
	<script type="text/javascript">
		let app=new Vue({
			el:'#app',
			data:{
				firstName='张',
				lastName='三',
				fullName='张三'
			}
			// computed:{
			// 	fullName:{
			// 		get:function(){
			// 			return this.firstName+' '+lastName
			// 		},
			// 		set:function(vuale){
			// 			var names=vuale.split(' ')
			// 			this.firstName=names[0]
			// 			this.lastName=names[1]
			// 		}
			// 	}
			// }
		})
	</script>
</html>
